<canvas #canvasEl style="display: none;background: #FFFFFF !important;" class="canvas"></canvas>
<div *ngIf="dataSource.length > 1" class="cs-signature-generator">
  <div class="sig-container"
         [ngClass]="{'sig-active' : currentIndex == i }"
         (click)="onSignatureSelection(item, i)"
         *ngFor="let item of dataSource; index as i">
    <div [ngStyle]="{'font-family': item.FontFamily, 'font-size': item.FontSize}">
      {{ signatureText }}
    </div>
  </div>
</div>
<div *ngIf="showSignature">
  <div class="flex">
    <h3>Click on the above signatures. You can get the image here!</h3>
    <button *ngIf="base64Image" (click)="download()" mat-button color="primary">Download signature</button>
  </div>
  <img class="img" [src]='base64Image' *ngIf="base64Image">
</div>