.mat-card{
    margin: 2% 20% 0 20%;
}

.mat-form-field {
    width: 100%;
    .mat-form-field-flex{
        width: 100%;
    }
    input{
        width: calc(100% - 20px);
        font-size: 20px;
        height: 50px;
        border: 1px solid #dadada;
        border-radius: 5px;
        padding-left: 20px;
        color: #174082;
    }
  }
  